body{
	background: url("Cranberry-Walnut-Bread_edit.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	text-align: center;
	padding-top: 10%;

}
.brown-box{
	background: rgba(159,146,134,.8);
	width: 600px;
	border-radius: 15px;
	margin: auto;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	


}
#logo{
	margin-bottom: 1%;
}
h1{
	font-size: 170%;
	font-family: 'Lato', helvetica, sans-serif;
	font-weight: 200; 
	color: #FFFFFF;
}
hr{
	background-color: #FFFFFF;
	border: none;
  	width: 15%;
  	height: 4px;
	margin-top: 8%;
	margin-bottom: 8%;
}
.text{
	margin: auto;
	width: 400px;
	font-size: 100%;
	font-family: 'Lato', helvetica, sans-serif;
	font-weight: 100;
	color: #FFFFFF;

}