body{
	background: url("Cranberry-Walnut-Bread.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	text-align: center;
	padding-top: 10%;

}
.brown-box{
	background-color: #9F9286;
	width: 600px;
	border-radius: 15px;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 3%;


}
#logo{
	margin-bottom: 1%;
}
h1{
	font-size: 170%;
	font-family: 'Lato', helvetica, sans-serif;
	font-weight: 200; 
	color: #FFFFFF;
}
hr{
	background-color: #FFFFFF;
	border: none;
  	width: 15%;
  	height: 4px;
	margin-top: 5%;
	margin-bottom: 5%;
}
p{

}