body{
	background: url("diagmonds.png");
	background-repeat: repeat-all;
	clear: both;

}

#logo{
	float: left;
	margin-top: 5px;
	margin-left: 40px;
	position: fixed;
	

}

#logo:hover{
	opacity: .8;

}

header{
	padding: 10px;
	height:60px;
	width:100%; 
	margin:0;
	background: url("diagmonds.png");
	background-repeat: repeat-x;


}


ul{
	padding-right: 80px;
	margin-top: 0px;

}
li{
	float: left;
	padding-left:40px;
	/*padding-top: 30px;
	padding-bottom: 30px;*/
	
	
}

nav{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	color:#FFFFFF;
	font-size: 14px;
	float:right;
	padding-top: 25px;


}

nav a{
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
}

nav a:hover{
	color: 2487D1;

}

.circular {
	float: left;
	margin:15px;


	/*width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;*/
}	

#c1 {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("h_center.jpg") no-repeat;
    opacity: .5s ease-out;
    -moz-transition: opacity.5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
	}

#c1:hover{
	background: url("handstack.png");
	opacity: 1;


}

#c2 {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("handstack.png") no-repeat;
	}

#c3{
		width: 300px;
		height: 300px;
		border-radius: 5px;
		background: url("infograph.png") no-repeat;

	}
#c4 {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("install.jpg") no-repeat;
	}

#c5 {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("flyer1.jpg") no-repeat;
	}

#c6 {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("boombox.png") no-repeat;

}

#c7{
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("Dc.png") no-repeat;

}

#c8{
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("joel.jpg") no-repeat;
}

#c9{
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: url("type.jpg") no-repeat;

}



/*for the "me" page so far*/
p{
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 400px;
	margin-left: 200px;
	margin-right: 200px;
}


