*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body{
	background: url("diagmonds.png");
	background-repeat: repeat-all;
	clear: both;
	font-size: 16px;

}

#logo{
	float: left;
	margin-top: 5px;
	margin-left: 25px;
	position: fixed;
	z-index: 99;
	

}

#logo:hover{
	opacity: .8;

}

header{
	padding: 10px;
	height:60px;
	width:100%; 
	margin:0;
	background: url("diagmonds.png");
	background-repeat: repeat-x;=

}



ul{
	padding-right: 80px;

}
li{
	float: left;
	padding-left:40px;
	/*padding-top: 30px;
	padding-bottom: 30px;*/
	
	
}

nav{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	color:#FFFFFF;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 20px;
	position: fixed;
	right:0;
	z-index: 90;


}




nav a{
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
}

nav a:hover{
	color: #56C3B6;

}
/*everything below here*/
.nav_sm{
	display: none;
}
.nav_sm ul{
	list-style: none;
}
.nav_sm li{
	padding:1em;
}
.nav_sm li a{
	text-decoration: none;
	color: #66cccc;
}
.nav_sm label img{
	margin-right: 3em;
}
.nav_sm li a:hover{
	text-decoration: none;
}

label {
  cursor: pointer;
}
#menu-toggle {
  display: none; /* hide the checkbox */
}
#menu {
  display: none;
}
#menu-toggle:checked + #menu {
  display: block;
}

/*and above here ^ is experimental, trying to figure out the hamburger menu*/


.clearfix:after{
	content:'';
	display:block;
	clear:both;
}

section{
	width:90%;
	margin:0 auto;
	padding-top: 40px;
	height:72em;
	background: blue;
}

figure {
	display: block;
	float: left;
	margin: 1em;
	border-radius: 0.5em;
	cursor:"pointer;"
}	

#c1 {
	border-radius: 5px;
	margin: 0;
}

#c1 img{
	width: 28%;
	margin: 0 1%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c1 img.top:hover{
	width: 28%;
	margin: 0 1%;
	opacity:0;
	border-radius: 5px;


}


#c2 {
	border-radius: 5px;
	margin: 0;
	}


#c2 img{
	width: 28%;
	margin: 0 31%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c2 img.top:hover{
	width: 28%;
	margin: 0 31%;
	opacity:0;
	border-radius: 5px;


}

#c3{
		border-radius: 5px;
		margin: 0;

	}


#c3 img{
	margin: 0 61%;
	width: 28%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c3 img.top:hover{
	margin: 0 61%;
	width: 28%;
	opacity:0;
	border-radius: 5px;


}


#c4 {
	border-radius: 5px;
	margin: 0%;
	}


#c4 img{

	margin: 30% 1%;
	width: 28%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c4 img.top:hover{
	margin: 30% 1%;
	width: 28%;
	opacity:0;
	border-radius: 5px;
}
#c5 {
	border-radius: 5px;
	margin: 0%;
	}
#c5 img{

	margin: 30% 31%;
	width: 28%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c5 img.top:hover{
	margin: 30% 31%;
	width: 28%;
	opacity:0;
	border-radius: 5px;
}

#c6 {
	border-radius: 5px;
	margin: 0%;

}

#c6 img{

	margin: 30% 61%;
	width: 28%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c6 img.top:hover{
	margin: 30% 61%;
	width: 28%;
	opacity:0;
	border-radius: 5px;
}

#c7{
	border-radius: 5px;
	margin: 0;

}

#c7 img{

	margin: 60% 1%;
	width: 28%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c7 img.top:hover{
	margin: 60% 1%;
	width: 28%;
	opacity:0;
	border-radius: 5px;
}

#c8{
	border-radius: 5px;
	margin: 0;
}

#c8 img{

	margin: 60% 31%;
	width: 28%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#c8 img.top:hover{
	margin: 60% 31%;
	width: 28%;
	opacity:0;
	border-radius: 5px;
}

#c9{
	border-radius: 5px;
	margin: 0;

}

#c9 img{

	margin: 60% 61%;
	width: 28%;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}
#c9 img.top:hover{
	margin: 60% 61%;
	width: 28%;
	opacity:0;
	border-radius: 5px;
}


/*for the "me" page so far*/


#section2{
	width:100%;
	background: white;
	margin:0 auto;
	padding-top: 40px;
	height:40em;
}

#meimg{
	width:300px;
	margin: 0 auto;
}

p{
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-size: 16px;
	width: 70%;
	margin: 10 auto;
}


/* media querie #1*/

@media screen and (max-width: 800px) {
}


